.cardItem {
  width: 32%;
  position: relative;
  margin: 50px 0;
  border-radius: 10px;

  .topIcon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -100px;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .cardInfo {
    padding: 24px;
    .imgPart {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .textPart {
      width: 100%;
      text-align: center;

      .title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2857142857142858;
        letter-spacing: 0.4px;
        color: #fff;
        margin: 8px 0;
      }

      .info {
        height: 90px;
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-size: 24px;
        letter-spacing: 0.2px;
        line-height: 1.25;
        color: #fff;
        margin: 30px 0;
      }

      .link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          font-weight: 700;
          font-size: 16px;
          letter-spacing: 0.4px;
          color: #000;
          cursor: pointer;
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            margin-top: 2px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #000;
            right: 0;
            bottom: -25%;
            transition: 0.3s ease;
          }
          &:hover:after {
            width: 0%;
          }
        }
      }
    }
  }
}
