.featuredProducts {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f3f6fa;
  padding: 70px 0;
  .container {
    width: 90%;
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .titlePart {
        text-align: center;
        .title {
          font-family: "Merriweather", serif;
          font-weight: 900;
          font-size: 40px;
          text-transform: lowercase;
          color: #5a1f06;
          margin-bottom: 16px;
        }
        .text {
          font-family: "AllTogetherSans", -apple-system, "BlinkMacSystemFont",
            "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
          font-weight: 500;
          font-size: 20px;
          text-transform: lowercase;
          line-height: 1.625;
          letter-spacing: 0;
          margin-bottom: 8px;
        }
      }
    }
  }
}
